@model List<WebApplication1.Models.ProductoModel>
@{
    ViewBag.Title = "Index";
}

<h2>Productos de Quiero Pizza</h2>


@foreach(var producto in Model)
{
    <p>@producto.Id @producto.Descripcion</p>
}